/*blog*/
.blog__grid .single-post-content{
	padding: 100px 0;
}
.blog__grid .widget-area{
	padding: 100px 0 0;
}
.blog__grid .archive-posts{
	padding: 100px 0 0;
}
.entry-title{
	font-family: Romul;
	font-weight: normal;
}
.posted-on .updated{
	display: none;
}
.post-thumbnail{
	margin: 20px 0;
}
.post-thumbnail img{
	width: 100%;
	height: auto;
}
.nav-links{
	margin: 60px 0;
}
.widget-title{
	font-family: Romul;
	font-weight: normal;
	font-size: 20px;
}
.widget-area ul{
	list-style: none;
	padding-left: 0px;
}
.widget-area ul li{
	padding-bottom: 20px;
}
.tagcloud a{
    padding: 10px 0px;
}
.index-template{
	padding: 160px 0 40px;
}
.index-template h1.screen-reader-text{
	clip: unset;
    height: unset;
    overflow: unset;
    position: unset !important;
    width: unset;
    word-wrap: unset;
}
.index-template article,
.archive-template article{
	margin-bottom: 60px;
}
.index-template article:before,
.index-template article:after,
.archive-template article:before,
.archive-template article:after{
	content: '';
	display: table;
	clear: both;
}
.index-template .entry-meta,
.archive-template .entry-meta{
	font-size: 14px;
	margin-bottom: 20px;
}
.index-template .post-thumbnail,
.archive-template .post-thumbnail{
	display: block;
	width: 100%;
	max-width: 300px;
	float: left;
	margin-right: 20px;
}
.index-template .post-thumbnail img,
.archive-template .post-thumbnail img{
	border-radius: 20px;
}
.index-template .entry-content p,
.archive-template .entry-content p{
	padding-top: 15px;
}
.blog__grid.index-template .widget-area{
	padding-top: 0;
	margin-top: -15px;
}
.blog__grid.archive-template .archive-posts{
	padding-top: 60px;
}
.filter-cat:before,
.filter-cat:after{
	display: table;
	clear: both;
	content: '';
}
.filter-cat{
	margin: 27px 0;
}
.filter-cat h2{
	font-weight: 300; 
	width: 100%;
	max-width: 50%;
	display: block;
	float: left;
	margin: 12px 0;
}
.filter-cat > div{
	display: block;
	float: left;
	width: 100%;
	max-width: 50%;
	position: relative;
}
.filter-cat > div:after{
	position: absolute;
	content: '▾';
	top: 18px;
	right: 20px;
	color: #00c0f3;
	z-index: -1;
}
.filter-cat select{
	border-radius: 25px;
	border:1px solid #00c0f3;
	padding: 0 20px;
}
.filter-cat form input:hover{
	background: #009ac2;
}

/*blog END */