@font-face {
  font-family: Romul;
  src: url('../fonts/8584.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.woff2) format('woff2'),
    url(../fonts/fontawesome-webfont.woff) format("woff"),
    url(../fonts/fontawesome-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
