.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
}

.mq-show-md,
.mq-show-sm,
.mq-show-xm,
.mq-show-xs,
.mq-show-xxs {
  display: none !important;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -35px;
}

.grid.grid-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid.grid-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid:first-child {
  margin-top: -35px;
}

.grid.grid-nogutter {
  margin-left: 0;
}

.grid.grid-nogutter > [class*="col-"] {
  padding-left: 0;
}

.grid.grid-nomargin-top {
  margin-top: 0;
}

.grid.grid-nomargin-top > [class*="col-"] {
  margin-top: 0;
}

[class*="col-"] {
  padding-left: 35px;
  margin: 35px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="col-"].flex-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.col-1-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.col-1-2,
.col-2-4,
.col-3-6,
.col-5-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-1-3,
.col-2-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33.333%;
}

.col-2-3,
.col-4-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
  max-width: 66.666%;
}

.col-1-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-3-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-1-5,
.col-2-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.col-2-5,
.col-4-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.col-3-5,
.col-6-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.col-4-5,
.col-8-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.col-1-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666%;
          flex: 0 0 16.666%;
  max-width: 16.666%;
}

.col-5-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333%;
          flex: 0 0 83.333%;
  max-width: 83.333%;
}

.col-1-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

.col-3-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.col-7-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
}

.col-9-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}

.col-fit,
.col-shrink {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}

.col-expand,
.col-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.col-full {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}