/*price page */
.title-inner {
    /*padding: 100px 0;*/
}
.price-tabs__list{
	border-bottom: 1px solid rgba(0,0,0,0.2);
  text-align: center;
}
.price-tabs__list a{
  text-transform: uppercase;
  padding: 0 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.price-tabs__list a.active{
  color: #939598;
  font-weight: 300;
}
.price-feature{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 15px;
  text-align: center;
  padding-bottom: 40px;
}
.price-feature .title__light{
  margin-bottom: 20px;
  margin-top: 35px;
}
.price-feature .line-divider-short{
  margin: 0px auto 24px;
}
.price-feature span{
  font-size: 14px;
}
.table-price table{
  background:#f2f2f2;
  border: 2px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  width: 100%;
}
.table-price table td,
.table-price table th{
  border: 2px solid #ffffff;
  padding: 17px 0px;
}
.table-price table td:nth-of-type(2n+3){
  border-right: 2px solid #f2f2f2;
}
/*.table-price table .table-subtitle td:nth-of-type(2n+3){
  border-right: 2px solid  #efdfee;
} 
*/
.table-price table .table-subtitle-blue td:nth-of-type(2n+3){
  border-right: 2px solid  #ffffff;
}
.table-price.price-list-fifth table .table-subtitle-blue td:nth-of-type(2n+3),
.table-price.price-list-fifth table .table-subtitle td:nth-of-type(2n+3),
.table-price table td:nth-of-type(2n+3){
  border-right: 2px solid  #ffffff;
}
.table-price table td a{
 text-transform: uppercase;
}
.table-price table tr th{
  font-weight: 300;
  padding: 20px 0;
}
.extra-light-subtitle{
  color: #939598;
}
.table-subtitle{
  background: #efdfee;
  text-transform: uppercase;
  color: #92278f;
}
.table-subtitle-blue{
  background: #def2f7;
  text-transform: uppercase;
}
.fa-check{
  position: relative;
}
.fa-check:after{
    font-family: FontAwesome;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    content: "\f00c";
    color: #932990;
    font-size: 15px;
    position: absolute;
    bottom: -5px;
    right: -5px;
}
.economy {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.economy td{
  background: #ffffff;
}
.economy .economy__list{
  display: inline-block;
  padding: 0 10px;
}
.last-tbody-row td:first-child{
  border-bottom-left-radius: 20px;
}
.last-tbody-row td:last-child{
  border-bottom-right-radius: 20px;
}
.table-price.course-combo table{
  border-collapse: separate;
  border: 1px;
  background: transparent;
}
.table-price.course-combo table td, 
.table-price.course-combo table th{
  border: 1px solid #ffffff;
  background: #f2f2f2;
}
.table-price.course-combo tbody tr th:first-child{
  border-top-left-radius: 20px;
}
.table-price.course-combo tbody tr th:last-child{
  border-top-right-radius: 20px;
}
.table-price.course-combo .table-subtitle td{
  background: #efdfee;
}
.table-price.course-combo .table-subtitle-blue td{
  background: #def2f7;
}
.table-price.course-combo table .economy td{
  background: #ffffff;
}
.economy .economy__list .title__light{
  margin-top: 0px;
}

/*price page END*/
/*page 21-22-23-24-25-26-27-28*/
.page-21{
  background-image: url("../img/bg_21.png");
}
.page-22{
  background-image: url("../img/bg_22.png");
}
.page-23{
  background-image: url("../img/bg_23.png");
}
.page-24{
  background-image: url("../img/bg_24.png");
}
.page-25{
  background-image: url("../img/bg_21.png");
}
.page-26{
  background-image: url("../img/bg_22.png");
}
.page-27{
  background-image: url("../img/bg_23.png");
}
.page-28{
  background-image: url("../img/bg_24.png");
}
.banner-inner .title__wrapper--how{
  margin-bottom: 10px;
}
.banner-inner{
  text-align: center;
}
.mentors{
  padding: 100px 0;
}
.mentors-list{
  text-align: center;
}
.mentors-list img{
  margin: 0 auto 20px;
}
.mentors-list ul{
  list-style: none;
  padding: 0;
}
.mentors-city-list .slick-dots li{
  width: 20%;
}
.mentors-city-list{
  margin-bottom: 60px;
}
.mentor-feature{
  width: 300px;
  text-align: center;
  margin: 30px auto;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50px;
  padding: 15px 0;
}

.mentor-feature .title__light{
  margin-top: 0;
  margin-bottom: 5px;
}
.mentor-feature .title__light span{
  font-size: 16px;
  color: #000000;
  font-weight: 300;
}

.course-info {
  background-color: #f1f2f2;
  padding: 100px 0;
}

.course-info__title {
  font-family: Romul;
  font-weight: 300;
  line-height: 1.2;
  font-size: 50px;
  text-align: center;
}

.course-info__title span {
  display: block;
  font-size: 30px;
}

.course-info__list {
  margin-top: 40px;
  margin-bottom: 67px;
}

.course-info__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 25px;
  position: relative;
  z-index: 2;
  min-height: 410px;
}

.course-info__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(0,0,0,0.5);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.course-info__desc {
  width: 100%;
  background-color: #fff;
  padding: 35px;
  border-radius: 25px;
}
.course-info__desc ul{
  font-size: 12px;
  padding: 0 0 0 20px;
}
.course-info__desc .divider{
  margin: 20px 0;
}
.course-info__user {
  font-family: Romul;
  font-weight: 300;
  color: #92278f;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.course-info__skills {
  color: #92278f;
  font-size: 13px;
}

.course-info__info {
  font-size: 13px;
  position: relative;
}

.course-info__info:before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #000;
  margin: 15px 0;
}
.divider{
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.course-info .btn{
  width: 100%;
}
.course-info .img__list{
  padding-top: 40px;
}
.programm-course-iii{
  padding: 100px 0;
  text-align: center;
}
.programm-course-iii__feature{
  text-align: center;
  background: #f1f2f2;
  border-radius: 15px;
  padding: 30px 40px;
  background: url("../img/image_lotus_transparent.png") no-repeat center bottom;
  background-size: contain;
  margin-bottom: 40px;
}
.programm-course-iii-title{
  text-transform: uppercase;
  padding-bottom: 20px;
}
.programm-course-iii .divider{
  margin: 22px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.programm-course-iii__list{
  text-align: center;
}
.button__list div:first-child{
  text-align: right;
}
.button__list div:last-child{
  text-align: left;
}
.course-iii-descr{
  padding: 100px 0;
  background: url("../img/bg_21_1.png") no-repeat center bottom;
}
.course-iii-descr-text{
  text-align: center;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
}
.course-iii-descr .line-divider-short{
     background-color: rgba(255,255,255,0.3);
}
.course-price{
  padding: 100px 0;
}
.table-price .table-header td{
  height: 170px;
  border-bottom: 10px solid #ffffff;
}
.table-header td:nth-of-type(1){
  background: url("../img/bg_table_1.png") no-repeat center;
  background-size: cover;
  border-top-left-radius: 20px;
}
.table-header td:nth-of-type(2){
  background: url("../img/bg_table_2.png") no-repeat center;
  background-size: cover;
}
.table-header td:nth-of-type(3){
  background: url("../img/bg_table_3.png") no-repeat center;
  background-size: cover;
}
.table-header td:nth-of-type(4){
  background: url("../img/bg_table_4.png") no-repeat center;
  background-size: cover;
  border-top-right-radius: 20px;
}
.small-note{
  text-align: center;
  margin-top: 40px;
}
.small-note small{
  color: #939598;
  font-size: 14px;
}
.course-conditions{
  padding: 100px 0;
}
.course-conditions-place{
  max-width: 800px;
  width: 100%;
  border: 10px solid #e5e5e5;
  padding: 80px;
  margin: 40px auto 340px;
  border-radius: 320px;
  position: relative;
}
.course-conditions-place:after{
    content: url(../img/page_21_flower.png);
    position: absolute;
    bottom: -243px;
    left: 50%;
    margin-left: -279px;
}
.course-conditions-place .divider{
  max-width: 20%;
  border-bottom-color: #000000;
  margin: 40px auto 40px;
}
.course-conditions-info{
  max-width: 460px;
  width: 100%;
  margin: 120px auto 0;
  padding: 40px 90px;
  background: rgb(241,242,242);
  background: linear-gradient(180deg, rgba(241,242,242,1) 0%, rgba(241,242,242,0) 100%);
  border-radius: 20px;
  text-align: center;
}
.course-conditions-infos .course-conditions-info{
  margin: 0px auto 0;
}
.course-conditions-info span{
  font-size: 18px;
}
.course-conditions-info p{
  font-size: 12px;
}
.course-conditions-info .divider{
  width: 30%;
  margin: 30px auto;
  border-bottom: 1px solid #000000;

}
.coast-place{
  padding: 100px 0;
  background: #f1f2f2;
}
.coast-place-feature{
  background: #ffffff;
  border-radius: 20px;
  padding: 45px 40px;
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 70px 70px -70px rgba(0, 0, 0, 0.5);
}
.coast-place-feature .divider{
  margin: 30px 0;
}
.coast-place-feature-top span{
  display: block;
  margin: 20px 0 10px;
}
.coast-place-feature-top small{
  margin-bottom: 20px;
}
.place-pricing{
  text-align: left;
}
.coast-place-features__list{
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
}
.coast-place-features__list ul{
  list-style: none;
}
.coast-place-features__list ul li{
  line-height: 2;
}
.trip-coast{
  padding: 100px 0;
  color: #ffffff;
  background: url("../img/bg_travel.png") no-repeat center center;
  background-size: cover;
  text-align: center;
}
.trip-coast-feature{
  border-radius: 20px;
  padding: 40px;
  background: rgba(0,0,0,0.5);
  text-align: center;
  min-height: 316px;
}
.trip-coast-features{
  margin-bottom: 40px;
}
.trip-coast-feature .divider{
  margin: 20px 40px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.trip-coast-feature p{
  display: block;
  padding: 10px 0;
  margin: 0;
}
.trip-coast-feature .blue-text{
  color: #00c0f3;
}
.trip-coast small{
  font-size: 14px;
}
.course-sert{
  padding: 100px 0;
}
.sertificate{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px 20px 370px;
  text-align: center;
  background: url("../img/bg-sert.png")  #f1f2f2 no-repeat center bottom;
}
/*.sertificates {
    background: url("../img/bg_sert_color.png")  #f1f2f2 no-repeat center bottom;
}*/
.sertificate.natal{
    background: url("../img/natal.png")  #f1f2f2 no-repeat center bottom;
    background-size: contain;
}
.sertificate.sert_one{
  background: url("../img/sert_one.png")  #f1f2f2 no-repeat center bottom;
  background-size: contain;
}
.sertificate.sert_two{
  background: url("../img/svid2.png")  #f1f2f2 no-repeat center bottom;
  background-size: contain;
}
.sertificate.sert_three{
  background: url("../img/svid3.png")  #f1f2f2 no-repeat center bottom;
  background-size: contain;
}
.sertificate.sert_four{
  background: url("../img/svid4.png")  #f1f2f2 no-repeat center bottom;
  background-size: contain;
}
.sertificate.sert_dip{
  background: url("../img/diploma.png")  #f1f2f2 no-repeat center bottom;
  background-size: contain;
}
.you-can{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background: #f1f2f2;
  border: 10px solid rgba(0,0,0,0.2);
  border-radius: 250px;
  padding: 50px 0;
}
.you-can .you-can-text{
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
.you-can-text:before{
  content: url("../img/icon_head.png");
  position: absolute;
  left: -220px;
}
.you-can ul{
  padding: 0 0 0 20px;
  font-size: 14px;
  line-height: 2;
}
.course-result{
  padding: 100px 0;
  background: url("../img/bg_result_white.png")  #f1f2f2 no-repeat center bottom;
  background-size: cover;
}
.course-result-end{
  padding-bottom: 100px;
}
.course-result-end h3{
  margin-bottom: 40px;
}
.course-result-end .divider{
  max-width: 20%;
  border-bottom-color: #000000;
  margin: 0 auto 40px;
}
.yoga-consult{
  border: 1px solid #d8d9d9;
  border-radius: 20px;
  width: 100%;
  max-width: 580px;
  margin: 0 auto 40px;
  padding: 0 0 40px;
}
.yoga-consult h3{
  background: #ffffff;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.yoga-consult ul{
  list-style: none;
  text-align: center;
  padding: 0;
}
.yoga-consult ul li{
  line-height: 2;
}
.slick-dots{
  padding-left: 35px;
}
.slick-dots li{
  width: 50%;
  margin: 0;
}
.slick-dots li button{
  width: 100%;
  border-radius: 0;
  height: 2px;
  background-color: #d8d9d9;
}
.slick-dots li button:first-child{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.slick-dots li button:first-child{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/*page 21-22-23-24-25-26-27-28 END*/

/*page 29-30-31-32*/
.page-29{
  background-image: url("../img/bg_29.png");
}
.page-30{
  background-image: url("../img/bg_30.png");
  background-position: center;
}
.page-31{
  background-image: url("../img/bg_31.png");
  background-position: center;
}
.page-32{
  background-image: url("../img/bg_32.png");
  background-position: center;
}
.page-33{
  background-image: url("../img/bg_33.png");
  background-position: center;
}
.page-34{
  background-image: url("../img/bg_34.png");
  background-position: center;
}
.page-35{
  background-image: url("../img/bg_35.png");
  background-position: center;
}
.page-36{
  background-image: url("../img/bg_36.png");
  background-position: center;
}
/*.page-38{
  background-image: url("../img/bg_38.png");
  background-position: center;
}
*/
.logo-logotype{
    display: block;
    width: 200px;
    height: 131px;
    background-image: url(../img/logotype1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.logo-trip{
    display: block;
    width: 92px;
    height: 124px;
    background-image: url(../img/logotype_trip.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.programm-course-iii__feature{
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  background: #f1f2f2 url("../img/image_lotus_transparent_full.png") no-repeat center bottom;
  background-size: contain;
  margin-bottom: 40px;
}
.programm-hidden-data{
  font-size: 12px;
  text-align: left;
  display: none;
}
.programm-hidden-data table{
  width: 100%;
}
.programm-hidden-data table tr{
 height: 30px;
 line-height: 30px;
}
.programm-hidden-data .hours{
  color: #939598;
  text-align: right;
}
.day-schedule{
  padding: 60px 0 0;
  display: none;
}
.day-schedule table{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font-size: 14px;
  background: #f2f2f2;
  border-radius: 20px;
}
.day-schedule table tr{
  height: 55px;
  line-height: 55px;
}
.day-schedule table td{
  border: 2px solid #fff;
}

.schedule-hours{
  color: #92278f;
  padding: 0 20px;
}
.table__intro table{
  width: 100%;
}
.table__intro .table-header td:nth-of-type(1){
  border-top-right-radius: 20px;
  background: url(../img/table_header_intro.png) no-repeat center;
}
.course-result-end_intro{
  padding-top: 100px;
}
.course-result-inner{
  border:10px solid #e5e5e5;
  border-radius: 280px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.course-result-inner .divider{
  max-width: 20%;
  border-bottom-color: #000000;
  margin: 0 auto 40px;
}
.teacher-intro{
  background: rgb(114,72,165);
  background: linear-gradient(90deg, rgba(114,72,165,1) 0%, rgba(7,185,238,1) 100%);
  color: #ffffff;
  text-align: center;
  width: 100%;
  max-width: 558px;
  margin: -264px auto 0;
  border-radius: 20px;
  padding: 20px 0 0;
}
.teacher-descr{
  background: rgba(0,0,0,0.5);
  display: block;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 40px;
  padding-top: 30px;
}
.teacher-name{
  padding-bottom: 30px;
}
.mentors.mentors_intro{
  padding-bottom: 160px;
}
.course-info.course-info_intro{
  padding-top: 120px;
}
.course-price.course-price_intro{
  padding-top: 0;
}
.pink-table-subtitle{
  text-transform: uppercase;
  color: #92278f;
}
.course-info__desc p{
  font-size: 12px;
}
.course-info__user-into{
  margin-top: 40px;
  display: block;
}
.course-info__user.margin-top{
  margin-top: 60px;
  display: block;
}
.biohack .teacher-descr{
  background: transparent;
}
.biohack .teacher-intro{
  margin: -230px auto 0;
}




/*page 02*/
.title-24{
  font-size: 24px;
}
.title-40{
  font-size: 40px;
}
.title-70{
  font-size: 70px;
}
.about-us{
  padding: 160px 0 40px;
}
.o-nas{
  padding-bottom: 100px;
}
.o-nas-list-right{
  padding-right: 90px;
  padding-left: 40px;
  text-align: justify;
}
.o-nas-list-right ul{
  padding-left: 19px;
  line-height: 1.8;
}
.o-nas-list-left{
  padding-left: 90px;
  padding-right: 40px;
  text-align: justify;
}
.academy-mission{
  text-align: center;
  padding-bottom: 100px;
}
.vedu-name{
  padding: 40px 0;
  background: #f1f2f2;
  text-align: center;
}
.vedu-name-color-subtitle{
  color: #00c0f3;
}
.vedu-name span{
  display: block;
}
.our-teachers{
  padding: 100px 0 0; 
}
.our-teachers__list{
  width: 100%;
  max-width: 952px;
  margin: 0 auto;
}
.our-teachers__list .teachers__item{
  margin-bottom: 40px;
}
.our-teachers__list .teachers__item:after{
  display: none;
}
.our-teachers__list .teachers__item .teachers__desc{
  background: #f1f2f2;
}
.our-teachers__list .teachers__img{
  min-height: 362px;
  width: 65%;
}
.teachers__user_title{
  font-size: 24px;
  color: #92278f;
  margin-bottom: 20px;
  display: block;
}
.our-teachers__list .teachers__info:before{
  margin: 25px 0;
}
.our-teachers__list .teachers__desc{
  padding: 35px 45px 35px 35px;
}
.supervisors-about-us{
  padding: 80px 0 100px;
}
.soul-supervisors{
  margin-bottom: 60px;
}
.soul-supervisors__item {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 25px;
}
.soul-supervisors__img {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 166px;
    height: 166px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}
.soul-supervisors__desc {
    display: block;
    position: relative;
    width: 100%;
    padding: 35px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.soul-supervisors__name {
    font-family: Romul;
    font-weight: 300;
    color: #92278f;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
    max-width: 215px;
}
.soul-supervisors__item__skills {
    position: relative;
    font-size: 14px;
    color: #000;
    max-width: 480px;
    margin-bottom: 60px;
}
.soul-supervisors__item__skills p{
  padding-right: 80px;
}
.soul-supervisors__item__skills:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 15px 0;
}
.spec-tab{
  color: #000000;
}
.spec-tab-subtitle{
  color: #939598;
  font-size: 14px;
  text-align: center;
  display: block;
}
.spec-tab .divider{
  margin: 40px 0 20px;
  border-color: #000000;
}
.spec-tab h5{
  font-weight: 300;
  color: #92278f;
  font-size: 16px;
  padding: 0 30px 0 50px;
  margin-bottom: 10px;
}
.spec-tab h4{
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.spec-tab h4 a{
  color: #000000;
}
.spec-tab ul,
.spec-tab p{
  font-size: 13px;
  padding: 0 30px 15px 30px;
}
.spec-tab ul{
  line-height: 1.6;
  padding-left: 69px;
}
.spec-tab.no-padding ul,
.spec-tab.no-padding p{
  padding: 0;
}
.spec-tab.no-padding p{
  text-align: justify;
}
/*page 02,09-12 END */

/*page 13 */
.lib-section{
  
  
}
.lib-section__list{
  text-align: center;
  color: #939598;
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 40px 0;
}
.lib-section__name{
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background: #00c0f3;
  height: 54px;
  line-height: 54px;
  border-radius: 54px;
  margin: 20px 0 0;
}
.lib-course{
  padding: 100px 0 0;
}
.lib-course__item{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 40px 60px;
  width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    min-height: 197px;
}
.lib-course__title{
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}
.lib-course__info span{
  color: #939598;
}
.lib-course__size small{
  color: #adadad;
}
.lib-course__size small span{
  padding-right: 10px;
}
.lib-course__description{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding-right: 40px;
}
.lib-course__title span{
  display: block;
  position: relative;
  padding-bottom: 20px; 
  margin-left: 40px;
}
.lib-course__title.list span:before{
  content: url("../img/lib_icon_list.png");
  position: absolute;
  display: block;
  padding-right: 20px;
  top: 2px;
  left: -40px;
}
.lib-course__title.sound span:before{
  content: url("../img/lib_icon_sound.png");
  position: absolute;
  display: block;
  padding-right: 20px;
  top: 2px;
  left: -40px;
}
.lib-course__title.movie span:before{
  content: url("../img/lib_icon_video.png");
  position: absolute;
  display: block;
  padding-right: 20px;
  top: 2px;
  left: -40px;
}
.lib-course__title.special span{
  display: block;
  position: relative;
  padding-bottom: 20px; 
  margin-left: 0px;
}
.lib-course__title{
  position: relative;
  padding-right: 20px;
  top: 5px;
}
.lib-course__link a{
  position: relative;
  display: block;
}
.lib-course__link a.yes:before{
  content: url("../img/lib_icon_link_blue.png");
  position: relative;
  top: 20px;
}
.lib-course__link a.no:before{
  content: url("../img/lib_icon_link_gray.png");
  position: relative;
  top: 20px;
}
.lib-course__link a.no{
  cursor: default;
}
.lib-course__recomend span{
  display: block;
  text-align: center;
}
.lib-course__recomend ul{
  background: #f1f2f2;
  border-radius: 200px;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding:35px 0 35px 160px;
  font-size: 14px;
  line-height: 1.8;
}
.library{
  padding: 160px 0 100px;
}
/*page 13 END */

/*page 14 */
.contacts{
  padding: 160px 0 40px;
}
.filials{
  padding: 0 0 100px;
}
.filials_item{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}
.filials_item h3{
  margin: 0;
}
.filials_item small{
  color: #939598;
}
.filials_item .tel{
  display: block;
  color: #000000;
}
.filials_item .line-divider-short{
  width: 30%;
}
.mail{
  text-align: center;
  padding: 0 0 100px;
}
.time{
  padding: 0 0 100px;
}
.time__item{
  background: #f1f2f2;
  padding: 35px 0 45px;
  border-radius: 100px;
  text-align: center;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}
.time__item span{
  position: relative;
}
.time__item span:before{
  content: url("../img/icon_time.png");
  position: relative;
  top: 10px;
  left: -10px;
}
.social{
  padding: 0 0 100px;
}
.social__list__center{
  width: 100%;
  max-width: 325px;
  margin: 0 auto;
}
.social__list__center .social__item{
  width: 66px;
  height: 66px;
}

/*page14 */

/*home page video*/
.video1 {
    height: 90vh;
    position: relative;
    margin: 40px 0 120px;
    border: 1px solid #000;
    background: url("../img/video_thumb.png") center center / cover;;
}
.video1-play {
    background-image: url(//evilcoder.ru/wp-content/uploads/2018/01/play.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 90px;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -30px;
    position: absolute;
    border-radius: 21px;
    background-position: 50% 50%;
    cursor: pointer;
}
/* home page video*/

/*reg-login*/
.shree-login-page .reg-form-block{
  display: none;
}
.shree-registration-page .login-form-block{
  display: none;
}

/*reg-login END*/

/*testim*/
.simplePagerList{
  position: relative;
}
.simplePagerList .simplePagerNav:before{
  content: '';
  position: absolute;
  width: 40%;
  height: 1px;
  top: 13px;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.simplePagerList .simplePagerNav:after{
  content: '';
  position: absolute;
  width: 40%;
  height: 1px;
  top: 13px;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}
.strong-grid .wpmtst-testimonial{
  position: relative;
}
.strong-grid .wpmtst-testimonial:after{
    content: '';
    width: 288px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -10px;
    left: -14px;
}
.strong-grid .wpmtst-testimonial.simplePagerPage1:nth-last-of-type(4):after,
.strong-grid .wpmtst-testimonial.simplePagerPage1:nth-last-of-type(3):after,
.strong-grid .wpmtst-testimonial.simplePagerPage1:nth-last-of-type(2):after,
.strong-grid .wpmtst-testimonial.simplePagerPage1:nth-last-of-type(1){
    display: none !important;
}
.strong-grid .wpmtst-testimonial .wpmtst-testimonial-heading a{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
  color: transparent;
}
.strong-view.wpmtst-default .strong-grid .wpmtst-testimonial,
.strong-view.wpmtst-default .strong-grid .wpmtst-testimonial .wpmtst-testimonial-inner,
.strong-view.wpmtst-default .strong-grid .wpmtst-testimonial .wpmtst-testimonial-image img,
{
  border: none;
  padding: 0;
}
.strong-view .strong-grid .wpmtst-testimonial .wpmtst-testimonial-image{
  margin-top: 0; 
  margin-right: 0; 
  margin-bottom: 0; 
  float: none; 
}
.strong-view.wpmtst-default .strong-grid  .wpmtst-testimonial-field.testimonial-name{
  text-align: center;
  font-size: 18px;
  color: #92278f;
}
.strong-view.wpmtst-default .strong-grid  .wpmtst-testimonial-field.testimonial-company{
  text-align: center;
  font-size: 12px;
  padding: 0 20px 20px;
}
.strong-view.wpmtst-default .strong-content.strong-grid .wpmtst-testimonial{
  margin: 25px 0 45px 0;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-image{
  border: 0px solid #FFFFFF;
  padding: 0px;
  float: none;
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 0;
}
.strong-view.wpmtst-default .wpmslider-content  .wpmtst-testimonial{
  border: 0px solid transparent;
  background: #f1f2f2;
  border-radius: 20px;
  min-height: 450px;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-inner{
  border: 0px solid transparent;
  background: #f1f2f2;
  border-radius: 20px; 
  padding: 0;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-inner h3.testimonial-heading{
  position: absolute;
  z-index: 1;
  top: 140px;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-inner h3.testimonial-heading a{
  color: #ffffff;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-image img{
  padding: 0;
  border: 0px;
  position: relative;
  width: 100%;
  height: auto;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-inner .testimonial-content p{
  padding: 0 30px;
  font-size: 12px;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-inner .testimonial-content .maybe-clear{
  margin-top: 30px;
}
.strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-inner .testimonial-content .readmore{
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.simplePagerNav li:last-child a,
.simplePagerNav li:first-child a{
  position: relative;
}
.simplePagerNav li:first-child a:before{
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-right: 7px solid #01c0f3;
  left: -20px;
  top: 6px;
}
.simplePagerNav li:after{
  content: "/";
  font-size: 18px;
  color: black;
  border-right: 7px solid transparent !important;
}
.simplePagerNav li:last-child:after{
  content: '';
}
.simplePagerNav li a{
  color: #000000;
  position: relative;
}
.strong-view ul.simplePagerNav li.currentPage a{
  background: transparent !important;
  color: #000000 !important;
}
.strong-view ul.simplePagerNav li a:hover{
  background: transparent !important;
  color: #000000 !important;
}
.simplePagerNav li:last-child a:after{
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-left: 7px solid #01c0f3;
  right: -20px;
  top: 6px;
  }
.simplePagerNav li.currentPage a:before{
  border-right: 7px solid #d9d9d9;
}
.simplePagerNav li.currentPage a:after{
  border-left: 7px solid #d9d9d9;
}
.wpmslider-pager.wpmslider-default-pager{
  width: 100%;
  display: flex !important;
}
.wpmslider-pager.wpmslider-default-pager .wpmslider-pager-item{
  width: 100%;
}
.wpmslider-pager.wpmslider-default-pager .wpmslider-pager-item a{
  width: 100%;
  height: 5px;
  background: #d9d9d9;
}
.wpmslider-pager.wpmslider-default-pager .wpmslider-pager-item a.wpmslider-pager-link{
  color: transparent;
  font-size: 0;
}
.wpmslider-pager.wpmslider-default-pager .wpmslider-pager-item a.wpmslider-pager-link.active{
  color: transparent;
  font-size: 0;
  background: #00c0f3;
}
.wpmslider-pager.wpmslider-default-pager .wpmslider-pager-item:first-child a{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.wpmslider-pager.wpmslider-default-pager .wpmslider-pager-item:last-child a{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*.wpmslider-controls-direction{
  display: none !important;
}*/
.testim-video{
  padding-bottom: 60px;
}
.testim-grid-block{
  padding-bottom: 60px;
}
.testim-slider-block{
  padding-bottom: 60px;
}
.unit-template{
  padding: 100px 0;
}
.course-unit-title{
  display:block;
  font-family:Romul;
  font-weight: 300;
  font-size:32px;
}
.hidden-data{
  display: none;
}
.wpm-testimonial-template-default .post-thumbnail{
  display:none;
}
a[data-src="#hidden-content"]{
    position: absolute;
    width: 68px;
    height: 100px;
    top: 40px;
}
#hidden-content .login-form-block h2{
  display: none;
}
#hidden-content  .title__wrapper{
  margin-bottom: 20px;
}
#hidden-content .woocommerce{
  padding: 0px;
}
#hidden-content .woocommerce .woocommerce-form{
  margin-top: 0;
  margin-bottom: 0;
}
#hidden-content .woocommerce .woocommerce-form-login .form-row-login label.woocommerce-form-login__rememberme{
  margin: 20px auto 0px !important;
}
#hidden-content .woocommerce-LostPassword{
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
#hidden-content .form-container .woocommerce-Input{
  margin-bottom: 0px;
}
/*testim END */
.out-of-stock i{
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.out-of-stock i:before{
  content: '';
  background: url(../img/svg/ico.svg);
  background-size: cover;
  position: relative;
  width: 21px;
  display: block;
  height: 21px;
  top: 4px;
}
.in-stock i{
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.in-stock i:before{
  content: '';
  background: url(../img/svg/ico-add-to-cart.svg);
  background-size: cover;
  position: relative;
  width: 21px;
  display: block;
  height: 21px;
  top: 4px;
}
.table-price td > a{
  display: none;
}
.table-price td p{
  display: inline-block;
}
.reviews .faculties-about__text{
  margin-top: 20px;
}
.price-logout a,
.course__item.gray-border{
  position: relative;
  width: unset;
  height: unset;
  top: unset;
}
.error-404 {
  text-align: center;
  padding: 150px 0;
}
.error-404 img{
  display: block;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.error-404 h2{
  margin-top: 30px;
}

/*scedule tables*/
.ninja_footable .footable-header{
  display: none;
}
.footable_parent .foo-table.ninja_footable{
  border-radius: 20px !important;
  background: #f1f2f2 !important;
  border-color: transparent !important;
}
.ninja_clmn_nm_course_name{
  text-transform: uppercase;
  color: #92278f;
  height: 60px;
  padding-left: 25px !important;
}
.ninja_clmn_nm_course_data{
  position: relative;
  padding-left: 40px !important;
  height: 60px;
}
.ninja_clmn_nm_course_location{
  position: relative;
  padding-left: 40px !important;
  height: 60px;
}
.ninja_clmn_nm_course_data:before{
  position: absolute;
  content: url(../img/icon_time_2.png);
  top: 15px;
    left: 4px;
}
.ninja_clmn_nm_course_location:before{
  position: absolute;
  content: url(../img/icon_place.png);
  top: 14px;
  left: 10px;
}
.ninja_clmn_nm_course_more{
  height: 60px;
}
.ninja_clmn_nm_course_more a{
  text-transform: uppercase;
  font-size: 14px;
}
.footable_parent.ninja_table_wrapper.semantic_ui .ui.table tr td{
  border-top: 2px solid #ffffff;
}
.footable_parent.ninja_table_wrapper.semantic_ui .ui.table tr:first-child td{
  border-top: none;
}
.semantic_ui .ui.striped.table>tr:nth-child(2n), .semantic_ui .ui.striped.table tbody tr:nth-child(2n){
  background-color: unset !important;
}
.schedule-home{
    padding: 100px 0 0;
}

.schedule-home .footable_parent{
  margin-top: 60px;
}

.header__logo-mob{
  display: none;
}
.social__list-mob{
  display: none;
}

.bask.cart_totals span{
  display: none;
}
.logged-in .bask.cart_totals span{
  display: inline;
}
.start.how__list{
  max-width: 90%; 
  margin: 0 auto;
}
.start.how__list:before,
.start.how__list:after{
 content: '';
 display: table;
 clear: both;
}
.start.how__list li {
  width: 50%;
  float: left;
  text-align: left;
}
.new-about{
  padding: 150px 0;
}
.new-about .list-in-oval__wrapper{
  width: 45%;
}

.how_subtitle_link{
  text-align: center;
  font-family: Romul;
  text-transform: uppercase;
  display: block;
}
.how_subtitle_link:hover{
  text-decoration: underline;
}
.how_subtitle_link_budha{
  background: url(../img/budha.png) no-repeat center 50px;
  padding-top: 175px;
}
.how_subtitle_link_lotos{
  background: url(../img/lotouss.png) no-repeat center 50px;
  padding-top: 175px;
}
.how__wrapper .col-1-2{
  margin-top: 0;
}
.how__wrapper .title__wrapper{
  margin: 0;
}
.how__wrapper .btn{
  position: relative;
  top: 25px;
}
.how__wrapper p{
  font-size: 14px;
}

.how.faculty{
      padding: 200px 0 150px;
}
.faculty-programm{
  padding: 125px 0 100px;
}
.list-in-oval.faculty{
  width: 100%;
  margin: 50px auto;
  max-width: 560px;
  text-align: center;
  display: block;
}
.list-in-oval.faculty p{
  font-size: 16px;
  text-align: center;
}

.faculties-about .list-in-oval.faculty{
  max-width: 80%;
}
.faculties-about .list-in-oval.faculty ul{
  padding-left: 0;
}
.faculties-about .list-in-oval.faculty ul li{
  display: inline-block;
  font-size: 16px;
  color: #92278f;
  padding: 0 20px;
  position: relative;
}
.faculties-about .list-in-oval.faculty ul li:before{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #92278f;
  left: -2px;
  top: 10px;
}
.faculties-about .list-in-oval.faculty ul li:first-child:before{
  display: none;
}

.new-faculties-list .faculties-main__item{
  box-shadow: 0px 40px 35px -50px #92278f;
}
.faculties-knowledge{
  padding: 120px 0 0;
}
/*.faculties-knowledge .list-in-oval {
  margin-bottom: 120px;
}*/
.faculties-knowledge .bottom-margin-additional{
  margin-bottom: 120px;
}
.faculty-price{
  padding: 120px 0 0;
}
.programm-coast{
  padding: 120px 0 0;
}
.programm-coast .table-price{
  max-width: 80%;
  margin: 0 auto;
}
#button .btn__wrapper.with-border,
.programm-coast .btn__wrapper.with-border{
  font-family: Roboto;
}
.additional-education{
  padding: 120px 0; 
  background: url("../img/add.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
.additional-education .welcome__desc{
  max-width: 660px;
  margin: 35px auto 0;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}
.additional-education .welcome__list{
  list-style: none;
  line-height: 1.8;
}
.additional-education .title__main{
  color: #00c0f3;
}
.additional-education .line-divider-white{
  width: 10%;
}
.faculties-courses .faculties-main__item{
  background-color: transparent;
  min-height: unset;
  padding-bottom: unset;
}
.faculties-courses .faculties-main__img{
  height: 250px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.faculties-courses .faculties-main__img:before,
.faculties-courses .faculties-main__img:after{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.faculties-courses .faculties-main__img--title{
  padding: 1em 1em;
  font-size: 16px;
}
.additional-schedule{
  padding: 60px 0 120px;
}

.course-conditions-more{
  display: none;
}
.faculty-about .two-blocks__with-border{
  margin-bottom: 100px;
}
.menu-footer-container{
  margin: 0 auto;
}

#trueModal .close{
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
}  

.page-38 h1{
  line-height: 1;
  margin-top: 40px;}  


.mail-info{
  padding-top: 40px;
}