@media screen and (max-width: 1200px) {
  .display-1200 {
    display: block;
  }

  .hidden-1200 {
    display: none;
  }

  .uk-navbar-nav.hidden-1200 {
    display: none;
  }
  .economy .economy__list .title__light{
  font-size: 16px;
}
}

@media only screen and (max-width: 1199px) {
  .course-banner__name {
    font-size: 40px;
  }

  .list-in-oval__wrapper {
    width: 100%;
  }

  .two-blocks__with-backimg--left {
    padding: 30px 30px 60px;
  }

/*  .about__list {
    display: block;
  }*/

  .welcome__icon {
    right: 10px;
  }

  .footer__info {
    text-align: center;
  }

  .footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

/*  .header__contacts {
    display: none;
  }*/

  .banner__name {
    font-size: 40pt;
  }

  .banner__subtext {
    font-size: 13pt;
  }
  .header__menu .menu-item {
    width: auto;
    line-height: 48px;
  }

  .header__menu .menu-item a {
    line-height: 48px;
  }

  .mobile-menu--open .header__menu {
    visibility: visible;
    opacity: 1;
    height: 100vh;
    min-height: 100vh;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-top: 80px;
    background: rgba(0,0,0,0.9);
  }
  .mobile-menu--open .header__menu .menu {
    height: auto;
  }
  .index-page.mobile-menu--open{
    overflow: hidden;
  }
}

@media only screen and (max-width: 1185px) {
  .two-blocks__with-backimg {
    min-height: 415px;
  }
  .testim-video iframe{
    width: auto !important;
    height: auto !important;
  }
  .faculties-main__img--title{
    font-size: 1.4vw;
  }
  .faculties-main__img{
    max-height: 200px;
  }
  .header__menu{
    width: 56%;
  }
  .menu-item a{
    font-size: 11px;
    padding: 0 5px;
  }
  .s-header__basket-wr{
    font-size: 11px;
  }
  .woocommerce table.shop_table td.product-name{
    font-size: 15px;
  }
  .economy .economy__list{
      padding: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .display-1024 {
    display: block;
  }

  .hidden-1024 {
    display: none;
  }
  .menu-item a{
    padding: 0 5px;
    font-size: 10px;
  }
  .header__menu{
    margin-left: 15px;
  }
  .s-header__basket-wr{
    font-size: 10px;
  }
  .trip-coast-feature{
    padding: 30px;
  }
  .coast-place-feature{
    padding: 25px 20px;
  }
  .trip-coast-feature p{
  font-size: 12px;
  }
  .place-pricing span{
    font-size: 11px;
  }
  .coast-place-feature-top small{
  font-size: 12px;
  }
  .strong-view .wpmtst-testimonial-image img{
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 960px) {
  .two-blocks__with-backimg {
    min-height: 300px;
  }
  .woocommerce{
    padding: 80px 0;
  }
  .economy .economy__list{
    padding: 0 7px;
  }
  .economy .economy__list .title__light {
    font-size: 14px;
  }
  .course-combo .table-subtitle td {
    width: 25% !important; 
  }
  .mobile-menu--open .header__logo-mob{
    display: block;
    margin: 0 auto 20px;
    width: 135px;
  }
  .mobile-menu--open .social__list-mob{
    display: block;
    margin: 60px auto 0;
    text-align: center;
    width: 256px;
  }
  .mobile-menu--open .social__list-mob .social__item{
    float: left;
  }
  .mobile-menu--open .social__list-mob:before,
  .mobile-menu--open .social__list-mob:after{
    display:  table;
    clear: both;
    content: '';
  }
  .o-nas-list-left,
  .o-nas-list-right{
    text-align: left;
  }
  .footable_parent .foo-table.ninja_footable{
    display: block !important;
    max-width: 300px;
    margin: 0 auto !important;
  }
  .footable_parent .foo-table.ninja_footable td{
    display: block !important;
  }
  .ninja_clmn_nm_course_location:before{
    left: 5px;
  }
  
  .start.how__list{
    max-width: 100%;
  }
  .new-about{
    padding: 100px 0;
  }
  .faculty-programm{
    padding: 125px 0 0px;
  }
  .faculties-knowledge{
    padding-top: 60px;
  }
  .additional-schedule{
    padding-top: 0;
  }
  .how.faculty{
    padding: 120px 0 150px;
  }
}

@media only screen and (max-width: 959px) {
    .header__menu {
    -webkit-animation: none;
            animation: none;
    visibility: hidden;
    opacity: 0;
    padding-top: 0;
    height: 0;
    z-index: 105;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    /*background-color: $blue-color;*/
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
/*  .fixed-menu{
    display: none;
  }*/
   .header__menu .menu {
    display: block;
    height: 0;
    width: 50%;
    margin: 0 auto;
  }
  .course-banner__name {
    font-size: 30px;
  }
  .with-border span{
    flex: unset;
  }
  .course-banner__text {
    width: 85%;
    padding: 15px;
  }

  .faculties-about {
    padding-top: 110px;
  }

  .faculties-main {
    padding-top: 60px;
  }

  .faculties-main__img {
    height: 200px;
  }

  .faculties-main__img > div {
    top: 40px;
  }

  .faculties-main__more {
    opacity: 1;
    color: #fff;
  }

  .schedule {
    padding: 30px 0;
  }

  .faculties-courses {
    padding: 30px 0;
  }

  .responsive-table-1 {
    border-radius: 10px;
  }

  .text__24 {
    font-size: 20px;
  }

  .text__24romul {
    font-size: 20px;
  }

  .faculty-about {
    padding-top: 110px;
  }

  .faculty-about__title {
    margin-bottom: 25px;
  }

  .faculty-about__text {
    font-size: 1.2rem;
  }

  .qualification-text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .course__general {
    margin-bottom: 40px;
  }

  .package__wrapper {
    margin-bottom: 60px;
  }

  .margin-bottom90 {
    margin-bottom: 60px;
  }

  .title__wrapper {
    margin-bottom: 40px;
  }

  .title__main {
    font-size: 30px;
  }

  .title__subtext {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .title__h2 {
    font-size: 20px;
  }

  .title__light-no-bottom-margin {
    margin-bottom: 0;
  }

  .about {
    padding: 40px 0;
  }

  .video {
    min-height: auto;
  }

  .study-program {
    padding: 40px 0;
  }

  .study-program__wrapper {
    width: 90%;
  }

  .reviews {
    padding: 40px 0;
  }

  .how {
    padding: 40px 0;
  }

  .how__wrapper {
    width: 100%;
  }

  .how__text {
    width: 100%;
    padding: 0 10px;
  }

  .experience {
    padding: 40px 0;
  }

  .teachers {
    padding: 40px 0;
  }

  .teachers__title {
    font-size: 40px;
  }

  .teachers__title span {
    font-size: 20px;
  }

  .teachers__list {
    margin-top: 0;
  }

  .supervisors {
    padding: 40px 0;
  }

  .welcome {
    padding: 40px 0;
  }

  .social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 20px 0;
  }

  .payment__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }

  .header__top {
    padding: 10px 0;
  }

  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
  }

  .header__mobile > * {
    margin-left: 20px;
  }

  .header__phone {
    display: none;
  }

  .banner {
    background-image: url("../img/custom/main-banner.jpg");
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
  }

  .banner iframe,
  .banner video {
    display: none;
  }

  .banner__name {
    font-size: 30pt;
  }

  .banner__subtext {
    font-size: 10pt;
  }

  .banner__text {
    width: 85%;
    padding: 15px;
  }

  .btn--mobile,
  a.btn--mobile {
    display: block;
  }

  .btn--longer,
  a.btn--longer {
    padding: 0 30px;
  }

  .slick-dots {
    margin: 15px auto 0;
  }

  .hamburger {
    display: block;
    margin-right: auto;
  }
}

@media screen and (max-width: 959px) {
  .display-960 {
    display: block;
  }

  .hidden-960 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 1.4;
  }

  .two-blocks__with-border--title {
    margin-left: 40px;
  }

  .two-blocks__with-border ul {
    padding-left: 20px;
  }

  .two-blocks__with-margin {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .modal-window {
    margin: 54px 15px 20px;
    width: calc(100% - 30px);
    padding: 18px;
  }

  .modal-body {
    width: 100%;
  }
  .vc_tta-panel.vc_active .vc_tta-panel-title a span{
    color: rgb(0, 192, 243);
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .vc_tta-panel .vc_tta-panel-title a span{
    color: #939598;
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .vc_tta-panel .vc_tta-panel-heading{
    background: transparent !important;
  }
    .trip-coast-feature{
    padding: 20px;
  }
}
@media screen and (max-width: 768px){
  .woocommerce table.shop_table_responsive tr td, 
  .woocommerce-page table.shop_table_responsive tr td{
    display: table-cell;
  }
  .woocommerce table.shop_table_responsive tr.cart_item, 
  .woocommerce-page table.shop_table_responsive tr.cart_item{
    width: 100%;
    border-bottom: 2px solid #ffffff;
  }
  .woocommerce table.shop_table_responsive tr.cart_item td, 
  .woocommerce-page table.shop_table_responsive tr.cart_item td{
    border-bottom: 2px solid #ffffff;
  }
  .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before{
    content: attr(data-title) " ";
    display: none;
  }
   .woocommerce-page table.shop_table_responsive tr.bottom-line{
    display: none;
  }
  .woocommerce table.shop_table td.product-name{
    font-family: "Roboto", sans-serif;
    text-align: left !important;
    padding: 15px 20px;
    width: 60%;
  }
  .woocommerce table.shop_table td.product-price{
    padding-right: 20px;
    width: auto;
  }
  .woocommerce table.shop_table_responsive tr, 
  .woocommerce-page table.shop_table_responsive tr{
    display: table-row;
  }
  .woocommerce #content table.cart .product-thumbnail, 
  .woocommerce table.cart .product-thumbnail, 
  .woocommerce-page #content table.cart .product-thumbnail, 
  .woocommerce-page table.cart .product-thumbnail{
    display: table-cell;
  }
  .woocommerce #content table.cart .product-thumbnail > a, 
  .woocommerce table.cart .product-thumbnail > a, 
  .woocommerce-page #content table.cart .product-thumbnail > a, 
  .woocommerce-page table.cart .product-thumbnail > a{
    display: none;
  }
  tr.cart-subtotal{
    display: none !important;
  }
  .woocommerce-page table.cart td.actions .button {
    display: block;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    margin: 20px auto 0;
    max-width: 300px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    color: #fff;
    background-color: #00c0f3;
    border: solid 2px #00c0f3;
    opacity: 1;
  }
  .woocommerce-page table.cart td.actions .button:hover{
    border: solid 2px #009ac2;
    color: #fff;
    background-color: #009ac2;
  }
  .woocommerce-page table.cart .woo-additional-line td.actions{
    background: transparent;
  }
  .table-inner .container {
    padding-left: 0;
    padding-right: 0;
  }
  .strong-view.wpmtst-default .strong-grid .wpmtst-testimonial-field.testimonial-company{
    font-size: 8px;
  }
  .simplePagerList .simplePagerNav:before{
    width: 30%;
  }
  .simplePagerList .simplePagerNav:after{
    width: 30%;
  }
  .strong-grid .wpmtst-testimonial:after {
    width: 108%;
  }
  .lib-course__link {
    position: absolute;
    bottom: 20px;
    right: 5px;
  }
  .lib-course__item{
    padding: 40px;
  }
  .lib-course__description{
    padding-right: 0;
  }
  .lib-course .with-border span{
    flex: none;
  }
  .page-id-2422 .vc_col-sm-6{
    width: 100%;
  }
  .page-id-2422 .wpb_column{
    padding-left: 10px;
    padding-right: 10px;
  }
  .list-in-oval {
    padding: 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .display-768 {
    display: block;
  }

  .hidden-768 {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .display-640 {
    display: block;
  }

  .hidden-640 {
    display: none;
  }
/*  .table-price{
    max-width: 560px;
    overflow-x: scroll;
  }
  .table-price table{
    min-width: 800px;
  }
  .table-price:before{
    content: "Для просмотра таблицы скрольте её влево-вправо";
    font-size: 10px;
    color: #6a6a6a;
  }*/
  .programm-coast .table-price{
    max-width: 100%;
    margin: unset;
  }
  .table-price table{
    text-align: left;
    font-size: 12px;
    color: #000000;
  }
  .table-price table td, .table-price table th{
    padding: 5px;
  }
  .table-price table th{
    text-align: left;
    padding-left: 5px;
  }
  .table-subtitle{
    font-size: 10px;
    font-weight: 400;
  }
  .table-price table td, .table-price table th{
    border: unset;
    border-left: 2px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  .table-price table td a{
    display: block;
    font-size: 0;
    text-align: center;
  }
  .out-of-stock i{
    display: block;
  }
  .table-price table tr th{
    word-break: break-word;
  }
  .table-price table tr th:nth-of-type(2),
  .table-price table tr th:nth-of-type(3),
  .table-price table tr th:nth-of-type(4){
    min-width: 67px;
  }
  .button__list div:last-child{
    font-size: 10px;
  }
  .woocommerce-MyAccount-navigation ul li{
    display: inline-block;
    text-align: left;
    width: 47%;
    padding: 0 20px 0 0;
  }
  .woocommerce-MyAccount-navigation ul{
    padding-left: 0;
  }
  .with-border span{
    flex: none;
  }
  .woocommerce table.my_account_orders td{
    line-height: 57px;
    padding: 0 20px;
  }
  .woocommerce-orders-table .woocommerce-orders-table__row:last-child .woocommerce-orders-table__cell-order-actions{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .woocommerce-orders-table .woocommerce-orders-table__row:first-child .woocommerce-orders-table__cell-order-number{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .woocommerce-orders-table .woocommerce-orders-table__row:last-child .woocommerce-orders-table__cell-order-number{
    border-bottom-left-radius: 0;
  }
  .woocommerce table.shop_table_responsive tr td::before, 
  .woocommerce-page table.shop_table_responsive tr td::before{
    font-weight: 300;
  }
  .woo_account_display_name span{
    line-height: 1.1;
  }
  .woocommerce form .form-row-first, 
  .woocommerce form .form-row-last, 
  .woocommerce-page form .form-row-first, 
  .woocommerce-page form .form-row-last{
    width: 100%;
    float: none;
  }
  #wpcw_fe_course_progress th.wpcw_fe_course_progress_course,
  #wpcw_fe_course_progress th.wpcw_fe_course_progress_pc{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .wpcw_fe_course_progress_course:after,
  .wpcw_fe_course_progress_row.active .wpcw_fe_course_progress_course:after{
    right: 10px;
  }
  .lib-course__recomend ul{
    font-size: 11px;
    padding: 35px 0 35px 140px;
  }
    .list-in-oval__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .list-in-oval__list-left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: left;
    padding-left: 1.3em;
    margin: auto;
/*    min-width: 360px;*/
  }

  .list-in-oval__list-left :before {
    visibility: visible;
    padding-right: 0.3em;
  }

  .list-in-oval__list-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: auto;
    padding-left: 0;
/*    min-width: 365px;*/
  }
  .how__wrapper p{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  .supervisors .text-border__title:before, .supervisors .text-border__title:after{
    display: none;
  }
  .supervisors .text-border__title--title{
    display: block;
  }
  .new-about .faculties-about__text br{
    display: none;
  }
  .new-about .list-in-oval__wrapper{
    width: 65%;
  }
  /*.reviews .text-border__title:before, .text-border__title:after{
    display: none;
  }*/
  .faculties-about .list-in-oval.faculty ul li:before{
    display: none !important;
  }
  .faculties-about .list-in-oval.faculty ul li{
    display: block;
  }
  .faculties-about h3 br{
    display: none;
  }
  .faculties-main h3 br{
    display: none;
  }
  .faculties-main__item{
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px){
  .lib-course__recomend ul{
    padding: 35px 0 35px 89px;
  }
  .filter-cat h2{
    max-width: 100%;
    float: none;
  }
  .filter-cat > div{
    max-width: 100%;
    float: none;
  }
}

@media screen and (max-width: 425px) {
  .display-425 {
    display: block;
  }

  .hidden-425 {
    display: none;
  }
  .study-program__title {
    font-size: 17px;
    display: block;
  }
  .header__contacts{
    margin-left: 25px;
  }
  .strong-grid .wpmtst-testimonial:after{
    width: 100%;
  }
  .simplePagerList .simplePagerNav:before,
  .simplePagerList .simplePagerNav:after{
    width: 25%;
  }
  .header__mobile > *{
    margin-left: 0px;
  }
}

@media only screen and (max-width: 424px) {
  .course-banner__text {
    width: 100%;
    font-size: 13px;
  }
  .testim-slider-block .strong-view.controls-type-sides-outside{
    padding: 0 20px 
  }
  .strong-view.wpmtst-default .wpmslider-content .wpmtst-testimonial-inner .testimonial-content .readmore{
    right: 10px;
    bottom: 0;
  }
  .course-first-logo {
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  .lib-course__recomend ul{
    padding: 35px 0 35px 59px;
  }
  .course__info--item {
    padding: 10px;
  }

  .schedule__icon svg {
    height: 28px;
  }
  .our-teachers__list .teachers__img{
    width: 100%;
  }
  .soul-supervisors__item{
    display: block;
  }
  .soul-supervisors__desc{
    padding: 10px;
  }
  .two-blocks__with-border--title {
    margin-left: 20px;
  }

  .two-blocks__with-border ul {
    padding-left: 0;
  }

  .two-blocks__with-backimg--left {
    padding: 15px 15px 40px;
  }

  .two-blocks__with-backimg--right:before {
    border: none;
  }

  .text__24 {
    font-size: 16px;
  }

  .text__24romul {
    font-size: 16px;
  }

  .faculty-about__title {
    margin-bottom: 15px;
  }

  .qualification-text {
    font-size: 14px;
  }

  .course__general {
    margin-bottom: 20px;
  }

  .package__wrapper {
    margin-bottom: 40px;
  }

  .margin-bottom90 {
    margin-bottom: 40px;
  }

  .title__wrapper {
    margin-bottom: 20px;
  }

  .title__wrapper--how {
    margin-bottom: 20px;
  }

  .title__main {
    font-size: 25px;
  }

  .title__subtext {
    font-size: 13px;
  }

  .title__h2 {
    font-size: 16px;
  }

  .title__light-no-bottom-margin {
    margin-bottom: 0;
  }

  .with-border {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .with-border span {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .with-border:before {
    display: none;
  }

  .with-border:after {
    display: none;
  }

  .with-border1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .with-border1 span {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .with-border1:before {
    display: none;
  }

  .with-border1:after {
    display: none;
  }

  .text-border__wrapper--program {
    width: 100%;
  }

  .text-border__title:before,
  .text-border__title:after {
    display: none;
  }

  .text-border__title--title {
    font-size: 20px;
    display: block;
  }

  .text-border__title--program {
    font-size: 15px;
  }

  .text-border__text {
    width: 100%;
  }

  .text-border__text--program {
    width: 100%;
  }

  .text-border__text--title {
    font-size: 15px;
  }

  .how__bg {
    padding: 30px;
  }

  .how__text {
    margin: 20px auto;
  }

  .how__twelve {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how__budda {
    margin: 0 auto 20px auto;
  }

  .btn__wrapper--center-overlapped .btn {
    width: 70%;
  }

  .twelve-left {
    text-align: center;
  }

  .twelve-left__item {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 25px;
  }

  .twelve-right {
    text-align: center;
  }

  .twelve-right__item {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 25px;
  }

  .teachers__title {
    font-size: 30px;
  }

  .teachers__title span {
    font-size: 15px;
  }

  .teachers__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .teachers__img {
    height: 200px;
    min-height: auto;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .teachers_two{
    background-position: 0px 0px;
  }
  .teachers_three{
    background-position: 0px -100px;
  }
  .teachers_four{
    background-position: 0px -50px;
  }

  .teachers__img:after {
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .teachers__bg {
    border-radius: 0;
  }

  .teachers__icon {
    width: 50px;
    height: 50px;
  }

  .teachers__icon svg {
    height: 20px;
  }

  .teachers__desc {
    padding: 25px;
    border-radius: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .supervisors__list {
    margin-top: 0;
  }

  .supervisors__desc {
    padding: 25px;
  }

  .supervisors__user {
    display: block;
    width: 70%;
  }

  .welcome__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .welcome__desc {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f2f2));
    background: -o-linear-gradient(top, #fff, #f1f2f2);
    background: linear-gradient(to bottom, #fff, #f1f2f2);
    border-radius: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-bottom: 50px;
  }

  .welcome__icon {
    right: auto;
    bottom: -30px;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .footer-top {
    padding: 30px 0;
  }

  .footer__links a {
    margin-bottom: 5px;
  }

  .social__list {
    margin-bottom: 0;
  }

  .header__wrapper {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .header__logo {
    width: 50%;
  }

  .logo {
    width: 100%;
    max-height: 90px;
    background-size: contain;
    background-position: center;
  }

  .banner__text {
    width: 100%;
    font-size: 13px;
  }
  .study-program__title {
    font-size: 14px;
  }
  .btn,
  a.btn {
    width: 95%;
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  body.index .slick-dots {
    margin: 20px auto 0;
  }

  .checkbox-wrapper {
    margin-bottom: 25px;
  }
  .faculties-main__img--title{
    font-size: 14px;
  }
  .wpcw_fe_course_progress_pc{
    width: 50%;
  }
  .wpcw_progress{
    height: 20px;
  }
  .wpcw_progress_bar{
    height: 20px;
  }
  .wpcw_fe_course_progress_row .wpcw_fe_course_progress_course{
    line-height: 1.1;
    font-size: 12px;
    padding-right: 30px;
  }
  .wpcw_progress_percent{
    font-size: 12px;
  }
  .wpcw_fe_course_progress_row.active + tr .wpcw_fe_course_progress_detail{
    padding: 5px 10px 40px;
  }
  .wpcw_fe_module_title_header, .wpcw_fe_module_desc_header{
    font-size: 12px;
  }
  .wpcw_fe_unit_title{
    font-size: 12px;
  }
  .wpcw_fe_unit{
    font-size: 12px;
  }
  .total-block{
    padding: 30px 80px 30px;
  }
  #add_payment_method #payment div.payment_box, 
  .woocommerce-cart #payment div.payment_box, 
  .woocommerce-checkout #payment div.payment_box{
    margin: 3em 0 1em;
  }

  .woocommerce ul.order_details li{
    width: 100%;
    padding-bottom: 10px;
    border-right: 0;
  }
  #hidden-content.fancybox-content{
    padding: 20px;
  }
  #hidden-content .form-container div{
    font-size: 12px;
  }
  .wpcw-custom-unit-wrapper-1{
    padding-top: 0;
  }
  .soul-supervisors__item{
    text-align: center;
  }
  .soul-supervisors__item__skills p{
    padding-right: 0;
    text-align: center;
  }
  .soul-supervisors__name{
    margin: 0 auto;
  }
  .soul-supervisors__img{
    margin: 0 auto;
  }
  .welcome__img{
    margin: 0 auto;
  }
  .faculties-about__text p br{
    display: none;
  }
  .faculties-knowledge .list-in-oval__list-right{
    padding-left: 10px;
  }
  #modal-layer{
    left: 15px;
  }
}

@media only screen and (max-width: 74.9em) {
  .mq-show-md {
    display: initial !important;
  }

  .mq-hide-md {
    display: none !important;
  }

  .mq-display-block-md {
    display: block !important;
  }

  .mq-display-inline-md {
    display: inline !important;
  }

  .mq-display-inline-block-md {
    display: inline-block !important;
  }

  .mq-display-flex-md {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 59.9em) {
  .mq-show-sm {
    display: initial !important;
  }

  .mq-hide-sm {
    display: none !important;
  }

  .mq-display-block-sm {
    display: block !important;
  }

  .mq-display-inline-sm {
    display: inline !important;
  }

  .mq-display-inline-block-sm {
    display: inline-block !important;
  }

  .mq-display-flex-sm {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .col-sm-1-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .col-sm-1-2,
  .col-sm-2-4,
  .col-sm-3-6,
  .col-sm-5-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-1-3,
  .col-sm-2-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-sm-2-3,
  .col-sm-4-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666%;
            flex: 0 0 66.666%;
    max-width: 66.666%;
  }

  .col-sm-1-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-3-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-1-5,
  .col-sm-2-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }

  .col-sm-2-5,
  .col-sm-4-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }

  .col-sm-3-5,
  .col-sm-6-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }

  .col-sm-4-5,
  .col-sm-8-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }

  .col-sm-1-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666%;
            flex: 0 0 16.666%;
    max-width: 16.666%;
  }

  .col-sm-5-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333%;
            flex: 0 0 83.333%;
    max-width: 83.333%;
  }

  .col-sm-1-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }

  .col-sm-3-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }

  .col-sm-7-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }

  .col-sm-9-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }

  .faculty__task-number {
    min-width: 60px;
    font-size: 3rem;
    padding: 0 15px;
  }

  .faculty__task-desc {
    padding-right: 10px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 47.9em) {
  .mq-show-xs {
    display: initial !important;
  }

  .mq-hide-xs {
    display: none !important;
  }

  .mq-display-block-xs {
    display: block !important;
  }

  .mq-display-inline-xs {
    display: inline !important;
  }

  .mq-display-inline-block-xs {
    display: inline-block !important;
  }

  .mq-display-flex-xs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .col-xs-1-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .col-xs-1-2,
  .col-xs-2-4,
  .col-xs-3-6,
  .col-xs-5-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xs-1-3,
  .col-xs-2-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-xs-2-3,
  .col-xs-4-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666%;
            flex: 0 0 66.666%;
    max-width: 66.666%;
  }

  .col-xs-1-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xs-3-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xs-1-5,
  .col-xs-2-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xs-2-5,
  .col-xs-4-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }

  .col-xs-3-5,
  .col-xs-6-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }

  .col-xs-4-5,
  .col-xs-8-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }

  .col-xs-1-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666%;
            flex: 0 0 16.666%;
    max-width: 16.666%;
  }

  .col-xs-5-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333%;
            flex: 0 0 83.333%;
    max-width: 83.333%;
  }

  .col-xs-1-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }

  .col-xs-3-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }

  .col-xs-7-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }

  .col-xs-9-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }

  .qualification2__item {
    min-width: 240px;
  }

  .faculty__btn-wrapper1 {
    padding-top: 5px;
    margin-bottom: 60px;
  }

  .faculty__margin {
    margin: 40px 10px 60px;
  }

  .course__item {
    padding: 10px 20px;
  }

  .course__statement {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 29.62em) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .mq-show-xxs {
    display: initial !important;
  }

  .mq-hide-xxs {
    display: none !important;
  }

  .mq-display-block-xxs {
    display: block !important;
  }

  .mq-display-inline-xxs {
    display: inline !important;
  }

  .mq-display-inline-block-xxs {
    display: inline-block !important;
  }

  .mq-display-flex-xxs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .grid {
    margin-left: -15px;
  }

  .grid:first-child {
    margin-top: -15px;
  }

  [class*="col-"] {
    padding-left: 15px;
    margin-top: 15px;
  }

  .col-xxs-1-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .col-xxs-1-2,
  .col-xxs-2-4,
  .col-xxs-3-6,
  .col-xxs-5-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxs-1-3,
  .col-xxs-2-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-xxs-2-3,
  .col-xxs-4-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666%;
            flex: 0 0 66.666%;
    max-width: 66.666%;
  }

  .col-xxs-1-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxs-3-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxs-1-5,
  .col-xxs-2-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xxs-2-5,
  .col-xxs-4-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }

  .col-xxs-3-5,
  .col-xxs-6-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }

  .col-xxs-4-5,
  .col-xxs-8-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }

  .col-xxs-1-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666%;
            flex: 0 0 16.666%;
    max-width: 16.666%;
  }

  .col-xxs-5-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333%;
            flex: 0 0 83.333%;
    max-width: 83.333%;
  }

  .col-xxs-1-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }

  .col-xxs-3-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }

  .col-xxs-7-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }

  .col-xxs-9-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }

  .qualification2 {
    margin-left: -35px;
  }

  .qualification2__item {
    margin-top: 15px;
    min-width: 220px;
  }

  .faculty__margin {
    margin: 25px 5px 40px;
  }
}
