.vc_tta.vc_tta-controls-align-center .vc_tta-tabs-container .vc_tta-tabs-list{
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list .vc_tta-tab a{
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #00c0f3;
	background: transparent;
	text-decoration: underline;
}
.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list .vc_tta-tab a:hover{
	background: transparent;
}
.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list .vc_tta-tab.vc_active a{
	color: #939598;
}
.vc_tta.vc_general .vc_tta-panel-body{
	padding: 0 !important;
}
.vc_tta.vc_tta-controls-align-center .vc_tta-tabs-container{
	margin-top: -45px !important;
	padding: 0 27px 20px !important;
}
.vc_tta.vc_general .vc_tta-tab{
	padding-bottom: 10px !important;
}


@media (min-width: 0px){
	.vc_tta.vc_tta-tabs .vc_tta-tabs-container {
	    display: block !important;
	}
}

@media (min-width: 0px){
	.vc_tta.vc_tta-tabs .vc_tta-panel-heading {
	    display: none !important;
	}
}
@media (min-width: 0px) and (max-width: 767px){
	.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list .vc_tta-tab a{
		padding: 0 !important;
	}
	.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list{
		margin-top: 20px !important;
	}
	.vc_tta.vc_general .vc_tta-tab{
		display: block !important;
	}
	.vc_tta.vc_tta-tabs .vc_tta-tabs-container {
	    margin-top: 20px !important;
	}
	#hidden-price .container{
		padding-left: 0;
		padding-right: 0;
	}
}
