/*woo account */
.woocommerce{
  padding: 150px 0 100px;
}
.woocommerce-MyAccount-navigation{
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.woocommerce-MyAccount-navigation ul{
  max-width: 360px;
  margin: 0 auto 40px;
  display: block;
}
.woocommerce-MyAccount-navigation ul li{
  display: inline-block;
  text-align: center;
  padding: 0 20px;
}
.woocommerce-MyAccount-navigation ul li a{
  text-transform: uppercase;
}
.woocommerce-MyAccount-navigation ul li a:hover{
  text-decoration: underline;
}
.woocommerce-MyAccount-content{
  text-align: center;
  padding-top: 40px;
}
.woocommerce-MyAccount-content .woo-logout span{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #939598;
}
.woocommerce-MyAccount-content  .account-additional-info{
  max-width: 580px;
  width: 100%;
  margin: 70px auto 0;
  display: block;
  font-size: 18px;
}
.woocommerce-MyAccount-navigation-link.is-active a{
  color: #939598;
}
.woocommerce-Address-subtitle{
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}
.woocommerce-Address-feature{
  background: #f1f2f2;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 25px;
}
.addresses{
  max-width: 960px;
  margin: 0 auto;
}
.woocommerce-Address-title h3{
  font-weight: 300;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
  padding-left: 0;
}
.woocommerce-Address-feature .line-divider-short{
  width: 25%;
}
.woocommerce-MyAccount-content form{
  width: 100%;
}
.woocommerce-MyAccount-content form .form-container,
.woocommerce form .form-container,
.RegistrationFormShree .woocommerce-form-register{
  width: 100%;
  max-width: 555px;
  margin: 0 auto;
}
.form-container{
  width: 100%;
  max-width: 555px;
  margin: 0 auto;
}
.woocommerce-MyAccount-content form .woocommerce-input-wrapper input,
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea,
#account_display_name,
.RegistrationFormShree .woocommerce-form-register input{
    border: 1px solid #939598;
    border-radius: 55px;
    padding: 0;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    background: #ffffff;
    margin-bottom: 25px;
}
#account_display_name{
  width: 50%;
  float: left;
  margin-right: 15px;
}
.woocommerce .woocommerce-MyAccount-content form .form-row{
  text-align: left;
}
.woocommerce .woocommerce-MyAccount-content form .form-row label{
  padding-left: 20px;
  color: #939598;
  font-size: 14px;
}
form .woocommerce-input-wrapper select,
.woocommerce-MyAccount-content form .woocommerce-input-wrapper select{
  border: 1px solid #939598;
    border-radius: 55px;
    padding: 0;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
}
form .select2-container--default .select2-selection--single,
.woocommerce-MyAccount-content form .select2-container--default .select2-selection--single{
    border: 1px solid #939598;
    border-radius: 55px;
    height: 55px;
    line-height: 55px;
    padding: 12px 20px;
}
form  .select2-container .select2-selection--single .select2-selection__rendered,
.woocommerce-MyAccount-content form  .select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 0;
  padding-right: 0;
}
.woocommerce-MyAccount-content h3{
  font-weight: 300;
}
form  .select2-container--default .select2-selection--single .select2-selection__arrow,
.woocommerce-MyAccount-content form  .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 15px;
    right: 15px;
}
.woocommerce-MyAccount-content .woocommerce-address-fields button,
.woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-Button,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce-form-register .woocommerce-Button,
.woocommerce-form-register .woocommerce-form-row .woocommerce-form-register__submit,
.woocommerce .btn-woo-choose{
    display: inline-block;
    height: 55px;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px !important;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    color: #fff !important;
    background-color: #00c0f3 !important;
    border: solid 2px #00c0f3 !important;
    margin-top: 20px;
    float: none;
}
.woocommerce .btn-woo-choose{
  font-weight: 400 !important;
  padding: 20px 40px !important;
}
.woocommerce-message.woocommerce-message--info p{
  padding-top: 20px;
}
.woocommerce-MyAccount-content .woocommerce-address-fields button:hover,
.woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-Button:hover,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,
.woocommerce-form-register .woocommerce-Button:hover,
.woocommerce-form-register .woocommerce-form-row .woocommerce-form-register__submit:hover{
  border: solid 2px #009ac2;
  color: #fff;
  background-color: #009ac2;
}
.woocommerce-MyAccount-content address{
  font-style: normal;
}
.woocommerce-MyAccount-content address .no-address{
  color: #939598;
}
.woo_account_display_name{
  text-align: left;
  height: 55px;
  border-radius: 55px;
  background: #f1f2f2;
}
.woo_account_display_name span{
  font-size: 10px;
  padding-left: 20px;
  line-height: 1.6;
  display: block;
      padding-top: 11px;
    padding-right: 20px;
}
.woocommerce-MyAccount-content fieldset{
    border: 0px solid #c0c0c0;
    margin: 0;
    padding: 0;
}
.woocommerce form .form-row label{
  margin-bottom: 10px;
}
.fieldset-title{
  margin: 40px 0;
}
.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register{
  border:0;
}
.woocommerce input[type="checkbox"]{
  -webkit-appearance: auto; 
    -moz-appearance: auto;
    appearance: auto;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme{
  display: block;
}
.woocommerce .woocommerce-form-login .form-row-login .woocommerce-button{
  width: 200px;
  margin: 0 auto !important;
  float: none !important;
  display: block;
}
.woocommerce-form-register .woocommerce-form-row .woocommerce-form-register__submit{
  width: 200px;
  margin: 0 auto !important;
  float: none !important;
  display: block;
}
.woocommerce .woocommerce-form-login .form-row-login label.woocommerce-form-login__rememberme{
  width: 200px;
  margin: 20px auto 40px !important;
  float: none !important;
  display: block;
  text-align: center;
}
.woocommerce .woocommerce-form-login .form-row-login label.woocommerce-form-login__rememberme input{
  display: inline-block;
  margin-top: 10px;
}
.woocommerce .woocommerce-form-login .form-row-login label.woocommerce-form-login__rememberme span{
  font-size: 14px;
}
.RegistrationFormShree{
  padding: 160px 0 100px;
}
.RegistrationFormShree .woocommerce-form-register label{
  padding-left: 20px;
  padding-bottom: 10px;
  display: block;
}
.woocommerce-form-register .woocommerce-Button{
  width: 200px;
  margin: 0 auto;
  display: block;
}
.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message{
      border: 1px solid #a46497;
      border-radius: 20px;
      padding: 2em 2em 2em 3.5em;
}
.woocommerce-error::before, 
.woocommerce-info::before, 
.woocommerce-message::before{
      top: 2em;
}
.woocommerce-message{
  border-color: #8fae1b;
  }
.woocommerce-error{
  border-color: #b81c23;
}
.woocommerce table.shop_table{
  border-color: transparent;
}
.woocommerce table.shop_table th{
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.woocommerce table.shop_table td{
  border-color: transparent;
  background: #f1f2f2;
  padding: 0;
  line-height: 0;
}
.woocommerce table.shop_table td.product-thumbnail{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.woocommerce #content table.cart img, 
.woocommerce table.cart img, 
.woocommerce-page #content table.cart img, 
.woocommerce-page table.cart img{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  min-height: 200px;
  min-width: 200px;
}
.product-remove{
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 10;
}
.woocommerce table.shop_table td.product-price{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 195px;
  text-align: center;
}
.woocommerce table.shop_table .bottom-line td{
      background: #ffffff;
    height: 10px;
    padding: 0;
    line-height: 1;
}
.woocommerce table.shop_table td.product-name{
  border-right: 2px solid #ffffff;
  font-family: Romul;
  font-size: 18px;
  line-height: 1.3;
  padding: 0 40px;
}
.woocommerce table.shop_table td.product-name a{
  color: #000000;
}
.woo-additional-line{
  display: none;
}
.cart_totals h2{
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}
.woocommerce .cart_totals  table.shop_table td{
  background: transparent;
}
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals{
  width: 100%;
  float: none;
  margin-top: 20px;
}
.cart_totals .cart-subtotal{
  display: none;
}
.woocommerce .cart_totals table{
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 35px -20px #000000;
}
.total-block{
  line-height: 1;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  padding: 60px 80px 80px;
}
.total-block:before,
.total-block:after{
  content: '';
  clear: both;
  display: table;
}
.total-block-title{
  display: block;
  font-weight: 300;
  margin-bottom: 30px;
}
.total-block-price{
  display: block;
  font-weight: 300;
  color: #92278f;
  font-size: 24px;
  margin-top: 30px;
}
.total-block-price strong{
  font-weight: 300;
}
.wc-proceed-to-checkout{
  text-align: center;
}
.wc-proceed-to-checkout a,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
    display: inline-block;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    color: #fff;
    background-color: #00c0f3;
    border: solid 2px #00c0f3;
  }
  .woocommerce #respond input#submit.alt:hover, 
  .woocommerce a.button.alt:hover, 
  .woocommerce button.button.alt:hover, 
  .woocommerce input.button.alt:hover{
    border: solid 2px #009ac2;
    color: #fff;
    background-color: #009ac2;
  }
    
  .cart_totals table.shop_table{
    margin-bottom: 0px;
  }
  #payment.woocommerce-checkout-payment{
    border-radius: 20px;
    padding: 20px 0;
  }
  #payment.woocommerce-checkout-payment p{
    font-weight: 300;
  }
  #customer_details .woocommerce-additional-fields h3{
    display: none;  }
  #order_comments{
    min-height: 300px;
    padding: 20px;
    border-radius: 20px;
  }
  .shop_table.woocommerce-checkout-review-order-table .cart-subtotal{
    display: none;
  }
  .woocommerce .shop_table.woocommerce-checkout-review-order-table td.product-name,
  .woocommerce .woocommerce-order-details .woocommerce-table--order-details.shop_table td.product-name,
  .woocommerce .shop_table .order_item td.product-name{
    font-family: Roboto, sans-serif;
    padding: 10px 20px;
    border-bottom: 2px solid #ffffff;
        font-size: 14px;
  }
.woocommerce .shop_table.woocommerce-checkout-review-order-table td.product-total,
.woocommerce .shop_table td.product-subtotal,
.woocommerce .woocommerce-order-details .woocommerce-table--order-details.shop_table td.product-total{
    font-family: Roboto, sans-serif;
    padding: 10px 20px;
    border-bottom: 2px solid #ffffff;
    font-size: 14px;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tr th.product-name,
.woocommerce table.shop_table th.product-name{
    border-top-left-radius: 20px;
    background: #f1f2f2;
    text-align: left;
    padding: 20px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
.woocommerce table.shop_table th.product-name.cart-product-name{
  background: transparent;
}
.woocommerce table.shop_table tfoot th{
  background: #f1f2f2;
  text-align: left;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.woocommerce table.shop_table tfoot td{
  background: #f1f2f2;
  text-align: left;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
}
.woocommerce table.shop_table tfoot .tablefoot:last-child th{
  border-bottom-left-radius: 20px;
}
.woocommerce table.shop_table tfoot .tablefoot:last-child td{
  border-bottom-right-radius: 20px;
}
.woocommerce table.shop_table tfoot td{
  background: #f1f2f2;
  text-align: left;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table tr.order-total td{
  padding: 20px;
  border-bottom-right-radius: 20px;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table tr th.product-total,
  .woocommerce table.shop_table th.product-total{
  border-top-right-radius: 20px;
  background: #f1f2f2;
  text-align: left;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table tr.order-total th{
  border-bottom-left-radius: 20px;
  background: #f1f2f2;
  text-align: left;
  padding: 20px;  
  border-top: 0;
  border-right: 2px solid #ffffff;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table{
  margin: 80px 0;
}
.cart_totals.calculated_shipping .order-total td{
  border-radius: 20px;
}
#wpcw_fe_course_progress{
  width: 100%;
  max-width: 960px;
  padding: 0 5px;
  margin: 0 auto;
}
#wpcw_fe_course_progress th.wpcw_fe_course_progress_course{
  text-align: left;
  color: #92278f;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}
#wpcw_fe_course_progress th.wpcw_fe_course_progress_pc{
  text-align: left;
  color: #92278f;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid #000000;
  width: 270px;
  padding-bottom: 10px;
}
.wpcw_fe_course_progress_row .wpcw_fe_course_progress_course{
  text-align: left;
  padding: 20px 0;
  position: relative;
  height: 60px;
  line-height: 60px;
}
.wpcw_fe_course_progress_row .wpcw_fe_course_progress_course a{
  font-weight: 300;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wpcw_fe_course_progress_row{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.wpcw_fe_course_progress_detail{
  display: none;
}

.wpcw_progress { 
    width: 80%;
    float: left;
    display: block;
    height: 26px;
    background: #f1f2f2;
    border-radius: 20px;
}
.wpcw_progress_bar{
  height: 26px;
  background: #01c0f3;
  display: block;
  border-radius: 20px;
}
.wpcw_fe_course_progress_course:after{
  content: '';
  position: absolute;
  right: 40px;
  bottom: 25px;
  border: 4px solid transparent;
  border-top: 7px solid #01c0f3;
  z-index: -1;
}
.wpcw_fe_course_progress_row .wpcw_fe_course_progress_course.active:after{
  content: '';
  position: absolute;
  right: 40px;
  bottom: 29px;
  border: 4px solid transparent;
  border-bottom: 7px solid #d9d9d9;
  z-index: -1
}
.wpcw_fe_course_progress_row.active + tr .wpcw_fe_course_progress_detail{
  display: table-cell;
  padding: 25px 40px 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.wpcw_fe_course_progress_row.active + tr {
  background: #f1f2f2;
}
/*.wpcw_fe_course_progress_row.active + tr + .wpcw_fe_course_progress_row{
  border-top: 1px solid rgba(0,0,0,0.1);
}*/
.wpcw_fe_module_title_header,
.wpcw_fe_module_desc_header{
  text-align: left;
  padding: 15px 0;
}
.wpcw_fe_unit_title{
  color: #01c0f3;
  text-align: left;
}
.wpcw_fe_module_title_header{
  width: 150px;
}
.wpcw_fe_unit{
  text-align: left;
}
.wpcw_fe_module_desc_header{
  width: 445px;
}
.wpcw_circle{
  width: 3px;
  height: 3px;
  display: block;
  background: black;
  border-radius: 50%;
  margin: 0 11px;
}
.wpcw_checkmark{
  position: relative;
}
.wpcw_checkmark:after{
  font-family: FontAwesome;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    content: "\f00c";
    color: #000000;
    font-size: 15px;
    position: absolute;
    bottom: -10px;
    right: -20px;
}
.shree-registration-page .woocommerce form .show-password-input, 
.shree-registration-page .woocommerce-page form .show-password-input,
.shree-login-page .woocommerce form .show-password-input, 
.shree-login-page .woocommerce-page form .show-password-input{
      top: 0.9em;
}
.product-template{
  padding: 100px 0 0;
}
.woocommerce-tabs h6{
  font-size: 18px;
  font-weight: 300px;
}
.woocommerce .woocommerce-MyAccount-navigation,.woocommerce .woocommerce-MyAccount-content{
  width: auto;
  float: none;
}
.woocommerce-orders-table .woocommerce-orders-table__header{
  background: #efdfee;
  height: 57px;
  line-height: 57px;
}
.woocommerce-orders-table .woocommerce-orders-table__header:first-child{
  border-top-left-radius: 20px;
}
.woocommerce-orders-table .woocommerce-orders-table__header:last-child{
  border-top-right-radius: 20px;
}
.woocommerce-orders-table td,
.woocommerce-orders-table th{
  height: 57px;
  line-height: 57px;
  border: 1px solid #fff !important;
}
.woocommerce-orders-table td{
  text-align: center;
}
.woocommerce-orders-table .woocommerce-orders-table__row:last-child .woocommerce-orders-table__cell-order-number{
  border-bottom-left-radius: 20px;
}
.woocommerce-orders-table .woocommerce-orders-table__row:last-child  .woocommerce-orders-table__cell-order-actions{
  border-bottom-right-radius: 20px;
}
.woocommerce .woocommerce-orders-table .woocommerce-button{
  background: transparent !important;
  color: #00c0f3 !important;
  text-transform: uppercase ;
  font-weight: 300 ;
}
.woocommerce .woocommerce-orders-table .woocommerce-button:hover{
  text-decoration: underline;
}
.woocommerce-order-details h2.woocommerce-order-details__title,
.woocommerce-customer-details h2.woocommerce-column__title{
  font-family: Romul;
  font-size: 24px;
  margin: 40px 0;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-customer-details address{
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  display: block;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
.woocommerce .button.wc-backward,
.woocommerce .button.wc-forward{
  background: transparent;
  color: #00c0f3;
  text-transform: uppercase;
  font-weight: 300;
}
.woocommerce .button.wc-backward:hover,
.woocommerce .button.wc-forward:hover{
  text-decoration: underline;
  background: transparent;
  color: #00c0f3;
}
.woocommerce-account .addresses .title h3{
  float: unset !important;
}
.woocommerce-message .button.wc-forward,
.woocommerce-error .button.wc-forward{
  display: none;
}
#add_payment_method .cart-collaterals .cart_totals tr td, 
#add_payment_method .cart-collaterals .cart_totals tr th, 
.woocommerce-cart .cart-collaterals .cart_totals tr td, 
.woocommerce-cart .cart-collaterals .cart_totals tr th, 
.woocommerce-checkout .cart-collaterals .cart_totals tr td, 
.woocommerce-checkout .cart-collaterals .cart_totals tr th{
  border-top: 0 !important;
}
.woocommerce .woocommerce-order-details .order-again a.button{
    display: inline-block;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
        color: #fff;
    background-color: #00c0f3;
    border: solid 2px #00c0f3;
}
.woocommerce .cart-block .bask.cart_totals{
  display: none;
}
  .woocommerce ul.order_details{
    padding-left: 0;
    padding-top: 20px;
  }
    .woocommerce ul.order_details li strong{
        font-weight: 300;
        color: #00c0f3;
  }
.fancybox-content .reg-form-block{
  display: none;
}
.woocommerce .sch_inner{
  margin-bottom: 40px;
}
.woocommerce-MyAccount-navigation-link--dashboard,
.woocommerce-MyAccount-navigation-link--orders,
.woocommerce-MyAccount-navigation-link--edit-address{
  display: none !important;
}
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot .tablefoot:first-child{
  display: none;
}
.woocommerce-input-wrapper input[type="checkbox"], input[type="radio"]{
  appearance: auto;
}
.thwcfd-field-wrapper .woocommerce-input-wrapper input[type="checkbox"], input[type="radio"]{
  float: left;
      top: 9px;
    position: relative;
    margin-right: 10px;
}
.thwcfd-field-wrapper .woocommerce-input-wrapper label{
  float: left;
}
.thwcfd-field-wrapper .woocommerce-input-wrapper .select2-container--default .select2-selection--single .select2-selection__clear{
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__clear{
  display: none !important;
}
form .select2-container--default .select2-selection--single, .woocommerce-MyAccount-content form .select2-container--default .select2-selection--single{
  border-radius: 30px !important;
}
.woocommerce .product-remove a.remove{
  font-size: 2em; 
  font-weight: normal;
  width: unset;
  padding-left: 10px;
}
.woocommerce .product-remove a.remove:hover{
  background: unset;
}
.woocommerce .product-remove a.remove span{
      font-size: 16px;
    font-weight: normal;
    display: inline-block;
    position: relative;
    top: -4px;
}
/*woo account END */