/* Unit Page */
.wpcw-custom-unit-nav-wrapper > aside > section {
	float: none;
}
.wpcw-custom-unit-nav-wrapper {
	float: left;
	font-size: 14px;
	width: 34%;
}
.wpcw-custom-unit-lesson-wrapper-1 {
    float: right;
	width: 64%;
}
.wpcw-custom-unit-wrapper-2::before,
.wpcw-custom-unit-wrapper-2::after {
	content: ' ';
    display: table;
    clear: both;
}
td.wpcw_fe_toggle {
	width: 34px;
	cursor: pointer;
}
.widget.wpcw_course_progress {
	width: 100%;
}
.wpcw-custom-unit-wrapper-1 {
	padding-top: 60px;	
	padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}
.wpcw-custom-unit-lesson-wrapper-1 {
	padding-left: 20px;
    border-left: 1px solid lightgray;
}
.wpcw-custom-unit-nav-wrapper:before,
.wpcw-custom-unit-nav-wrapper:after,
.wpcw-custom-unit-lesson-wrapper-1:before,
.wpcw-custom-unit-lesson-wrapper-1:after{
    content: '';
    clear: both;
    display: table;
}

@media (max-width: 1100px) {
	.wpcw-custom-unit-nav-wrapper {
    	margin-right: 30px;
        margin-top: 80px;
	}
    .wpcw-custom-unit-wrapper-1{
        padding-top: 0;
    }
    .wpcw_fe_progress_box{
        margin-top: 40px;
    }
	.wpcw-custom-unit-lesson-wrapper-2 > .jetpack-video-wrapper > iframe {
		margin: auto !important;
	}
	.wpcw-custom-unit-lesson-wrapper-1 {
		padding-left: 5px;
		border-left: 0;
		width: 60%;
	}
    .unit-template{
        padding: 60px 0 0;
    }
	
}
@media (max-width: 768px){
    .wpcw-custom-unit-nav-wrapper{
        display: none;
    }
    .wpcw-custom-unit-lesson-wrapper-1{
        width: 100%;
        padding-top: 20px;
    }
}
@media (max-width: 425px){
    .wpcw-custom-unit-lesson-wrapper-1 .course-unit-title{
        font-size: 18px;
    }
}
.course-unit-title {
	text-align: left;
	font-size: 26px;
	margin: 0 0 0.67em 0;
	padding-top: 0;
}
.jetpack-video-wrapper {
	background: black;
}
.wpcw-custom-unit-nav-wrapper .wpcw_fe_unit.active {
	border-left: 4px solid #0f9ac5;
}
#wpcw_fe_outer_wrap {
	width: 100%;
}
.wpcw_fe_navigation_box > .fe_btn_navigation_prev{
	margin-right: 5px;
}
.wpcw_fe_navigation_box > .fe_btn_navigation_next{
	margin-left: 5px;
}
/*-----------Copypasted------------*/
.wpcw_fe_navigation_box {
    margin: 10px 0;
    padding: 15px 20px;
    text-align: center
}

/*.wpcw_progress {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    height: 22px;
    vertical-align: middle;
    padding: 1px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: #efefef;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    background-repeat: repeat-x
}*/

.wpcw_fe_upload_progress {
    display: none;
    margin: 10px auto 15px;
}

.wpcw_fe_upload_progress .wpcw_progress {
    width: 300px;
    background: #fff
}

.wpcw_fe_quiz_box {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 15px 20px;
    border-radius: 3px;
    line-height: 1.2em;
    font-size: 10pt
}

.wpcw_fe_quiz_q_single {
    border-bottom: 1px solid #3a87ad;
    padding: 15px 0 10px
}

.wpcw_fe_quiz_box .wpcw_fe_quiz_q_single:last-child {
    border-bottom: none;
    padding-bottom: 0
}

.wpcw_fe_quiz_q_single_error {
    color: red;
    background: #fde0e0;
    border: 1px solid red;
    margin: 10px auto 15px;
    font-size: .9em;
    padding: 5px;
    border-radius: 3px
}

.wpcw_fe_quiz_q_single textarea {
    margin: 15px 0 5px;
    width: 95%
}

.wpcw_fe_quiz_box_pending {
    border-color: #ddd;
}

.wpcw_fe_quiz_title {
    font-weight: 700;
    margin-bottom: 5px
}

.wpcw_fe_quiz_a_image,.wpcw_fe_quiz_q_image {
    margin: 10px 0
}

.wpcw_fe_quiz_box_wrap .wpcw_fe_quiz_a_image img,.wpcw_fe_quiz_box_wrap .wpcw_fe_quiz_q_image img {
    max-width: 100%;
    border: 1px solid #ddd;
    box-shadow: none;
    background: #fff;
    padding: 3px
}

.wpcw_fe_quiz_pass_mark {
    font-size: 90%;
    margin-bottom: 5px;
    line-height: 1.2em
}

.wpcw_fe_quiz_q_hdr {
    border-bottom: 1px solid #3a87ad;
    margin: 15px 0 10px;
    clear: both
}

.wpcw_fe_quiz_box_wrap ul.wpcw_fe_quiz_q_answers {
    padding: 10px 0 10px 15px;
    list-style-type: none;
    margin: 0
}

ul.wpcw_fe_quiz_q_answers input[type=checkbox]+label,ul.wpcw_fe_quiz_q_answers input[type=radio]+label {
    display: inline-block
}

ul.wpcw_fe_quiz_q_answers input[type=radio]:checked+label {
    font-weight: 700
}

.wpcw_fe_quiz_retake,.wpcw_fe_quiz_submit {
    text-align: center;
    padding: 10px 0;
}

.wpcw_fe_quiz_retake .wpcw_loader {
    margin-bottom: 15px
}

.wpcw_fe_quiz_q_title {
    margin-bottom: 15px;
    font-size: 110%
}

.wpcw_fe_quiz_q_error .wpcw_fe_quiz_q_title {
    font-weight: 700;
    color: red
}

.wpcw_fe_quiz_q_hint {
    margin: 5px 0;
    font-style: italic;
    font-size: 90%
}

.wpcw_fe_quiz_q_error ul.wpcw_fe_quiz_q_answers input[type=radio]:checked+label {
    color: red
}

.wpcw_fe_quiz_q_error .wpcw_fe_quiz_status {
    padding-left: 10px;
    font-size: 90%;
    font-style: italic
}

.wpcw_fe_quiz_q_correct,.wpcw_fe_quiz_q_explanation,.wpcw_fe_quiz_q_user_grade,.wpcw_fe_quiz_q_your_answer {
    margin: 5px 0
}

#wpcw_fe_outer_wrap ul.wpcw_fe_quiz_q_possible_list {
    margin: .5em 0;
    list-style: disc
}

#wpcw_fe_outer_wrap .wpcw_fe_quiz_q_correct ul li,#wpcw_fe_outer_wrap .wpcw_fe_quiz_q_your_answer ul li,#wpcw_fe_outer_wrap ul.wpcw_fe_quiz_q_possible_list li {
    margin: .2em 3em;
    padding: 0;
    line-height: 1.2em
}

.wpcw_fe_quiz_q_result {
    margin: 5px 0;
    background-repeat: no-repeat;
    padding-left: 0;
    font-weight: 700;
    min-height: 16px;
    background-position: 0 2px
}

.wpcw_fe_quiz_q_result_correct:before,.wpcw_fe_quiz_q_result_incorrect:before {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.1em
}

.wpcw_fe_quiz_q_result_correct {
    color: green
}

.wpcw_fe_quiz_q_result_correct:before {
	font-family: FontAwesome;
    content: "\F00C"
}

.wpcw_fe_quiz_q_result_incorrect {
    color: red
}

.wpcw_fe_quiz_q_result_incorrect:before {
	font-family: FontAwesome;
    content: "\F00D"
}

.wpcw_fe_quiz_box_full_answers b {
    color: #0f9ac5
}

.wpcw_fe_quiz_answer_later {
    float: right;
    font-size: .9em;
    margin: 5px 0
}

.wpcw_fe_quiz_q_open input[type=text] {
    margin-top: 5px;
    width: 80%
}

.wpcw_fe_quiz_q_open textarea {
    width: 80%
}

.wpcw_fe_quiz_q_upload_wrapper {
    margin-top: 10px
}

.wpcw_fe_quiz_q_upload_existing {
    margin: 0 10px 10px
}

.wpcw_fe_quiz_q_upload_change_file_wrap {
    margin: 0 10px 15px
}

.wpcw_fe_quiz_q_upload_change_file_cancel {
    display: none
}

.wpcw_widget_progress #wpcw_fe_course {
    font-size: 9pt
}

.wpcw_widget_progress #wpcw_fe_course .wpcw_fe_module_title_header {
    width: 25%
}

.wpcw_widget_progress tr.wpcw_fe_module {
    cursor: pointer
}

.wpcw_widget_progress .wpcw_fe_toggle {
    text-align: right;
    font-size: 150%;
    font-weight: 700;
}

.wpcw_fe_progress_box_pending {
    color: #050505;
    border-color: #26c510;
}

.wpcw_fe_progress_box_error {
    color: red;
    background: #fde0e0;
    border-color: red
}

.wpcw_fe_progress_box_error .wpcw_fe_progress_breakdown_wrap {
    border-color: red
}

.wpcw_fe_progress_box_success {
    color: green;
    background: #baf5ba;
    border-color: #26c510
}

.wpcw_fe_progress_box_success .wpcw_fe_progress_breakdown_wrap {
    border-color: #26c510
}

.wpcw_fe_progress_box_warning {
    color: #918817;
    background-color: #ffffe0;
    border-color: #e6db55
}

.wpcw_fe_progress_box_warning .wpcw_fe_progress_breakdown_wrap {
    border-color: #e6db55
}
.wpcw_fe_progress_box {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 15px 20px;
    border-radius: 3px;
    font-size: 11pt;
    display: table;
    width: 100%;
}
.widget.wpcw_course_progress{
    display: block;
}
.single-wpcw_course{
    padding-top: 0px !important;
}

.wpcw-custom-unit-lesson-wrapper-1 .video iframe .player .vp-controls-wrapper .vp-title{
    display: none !important;
}
.wpcw_fe_quiz_q_answers li {
    display: flex;
    margin: 7px auto;
}
.wpcw_fe_quiz_q_answers li input {
    position: static;
}
.wpcw_fe_quiz_q_answers li input[type="checkbox"] {
    appearance: checkbox;
     -webkit-appearance: checkbox;
    margin-right: 10px;
}
.wpcw_fe_quiz_q_answers li input[type="radio"] {
    appearance: radio;
    -webkit-appearance: radio;
}
